# Verification du nombre d'entreprise ayant des valeurs EV non nulles 2

Ce notebook sert a verfier le nombre d'entreprise ayant des valeurs non nulles dans les colonnes EV/EBITDA, EV/Sales, ...

### **Packages**

In [1]:
import pandas as pd
import numpy as np

### **Data d'input**

In [2]:
data_sans_na_sans_out = pd.read_excel ( 'Data Finpack V2/data_finpack_V2_sans_na_sans_out.xlsx', index_col = 0 )
data_sans_na_sans_out

,Efcode,isActive,Country,Company Name,Sector,Description,Net Debt / Equity (x) - Last,Net Sales - Last,ROA - Last,Sales To Assets (%) - Last,...,Days in acc. Pay. - Last,Days in Receiv. - Last,Sales To Receiv. - Last.1,EBITDA - Last,Total Assets - Last,Sharehold. Equity - Last,EBITDA Marg. (%) - Last,EBIT Marg. (%) - Last,ROE (%) - Last,ROCE (%) - Last
22,30031KN,True,NGA,11,Integrated Oil & Gas,"S&P Business Summary11 plc, together with its ...",-0.09,576.994052,5.62,197.58,...,27.76,17.95,22.97,36.297033,292.032431,101.120098,6.29,4.07,14.77,17.25
23,30145KN,True,NGA,ABC Transport PLC,Travel & Tourism,S&P Business SummaryABC Transport Plc provides...,0.87,15.569810,-2.56,108.03,...,63.77,13.19,21.90,1.763778,14.412894,2.509889,11.33,5.56,-13.79,12.11
30,30268KN,True,NGA,Africa Prudential Plc,Investment Services,S&P Business SummaryAfrica Prudential Plc prov...,-0.10,3.263938,8.45,8.74,...,13.80,165.81,3.80,-0.030324,42.010095,20.460582,-0.73,-3.66,16.45,-3.09
35,30067KN,True,NGA,Aluminium Extrusion Industries PLC,Aluminum,S&P Business SummaryAluminium Extrusion Indust...,0.03,5.748802,1.24,88.86,...,7.96,0.21,960.15,0.244692,6.469231,5.307299,4.26,3.59,1.49,3.35
36,30033KN,True,NGA,Ardova Plc,Integrated Oil & Gas,"S&P Business SummaryArdova Plc, an integrated ...",5.75,524.974293,-5.96,179.15,...,29.59,18.35,23.41,3.180169,293.043683,20.217501,0.61,-1.03,-59.90,-3.57
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83676,30029AN,True,NZL,Millennium & Copthorne Hotels New Zealand Limited,Hotels,S&P Business SummaryMillennium & Copthorne Hot...,-0.10,91.536890,3.12,20.33,...,21.03,21.22,17.96,32.130402,450.191273,407.986595,35.10,29.99,3.45,8.81
83681,40127AN,True,NZL,NZ Automotive Investments Ltd.,Specialty Retailers,S&P Business SummaryNZ Automotive Investments ...,0.53,44.526214,7.20,170.81,...,0.00,59.82,12.20,4.297933,18.375558,10.120072,8.35,3.16,8.26,14.39
83687,30146AN,True,NZL,Neuren Pharmaceuticals Limited,Biotechnology,S&P Business SummaryNeuren Pharmaceuticals Lim...,-0.94,0.000000,-23.98,0.00,...,30.07,37.46,8.67,-0.902686,27.465892,26.400697,-9.77,-9.84,0.46,604.22
83690,30021AN,True,NZL,New Zealand Oil & Gas Limited,Exploration & Production,S&P Business SummaryNew Zealand Oil & Gas Limi...,-0.40,52.309191,8.06,29.68,...,29.43,30.56,12.01,24.768314,176.237520,101.366456,47.35,30.69,12.89,12.61
83697,90986AN,True,NZL,PGG Wrightson Limited,Farming & Fishing,S&P Business SummaryPGG Wrightson Limited prov...,0.19,594.646759,5.04,186.82,...,0.00,69.31,5.59,41.340652,318.296740,107.784172,6.95,3.87,14.03,17.18

In [3]:
big_data = pd.read_excel ( 'Data Finpack V2/data_finpack_V2.xlsx' )
big_data

,Efcode,isActive,Ticker,Country,Company Name,ISIN,Sector,Description,EV/EBITDA - Last,P/E (e) - 2023,...,ROCE (%) - Last,Net Debt / Equity (x) - 2022,Net Debt / EBITDA (x) - 2022,ROE (%) - 2022,ROA - 2022,ROCE (%) - 2022,Net Marg. (e) (%) - 2023,P/Book Value (e) - 2023,Net Marg. (e) (%) - 2022,Net Marg. (e) (%) - 2021
0,30019LI,True,NaN,NIC,BANCO DE FINANZAS,NaN,Banks,WVB Short Business Summary Consumer banking wi...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,30019LI,True,NaN,NIC,BANCO DE FINANZAS,NaN,Banks,WVB Short Business Summary Consumer banking wi...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,30024LI,True,NaN,NIC,BANCO DE LA PRODUCCION,NaN,Equity Investment Instruments,WVB Short Business Summary The Bank is a priva...,NaN,NaN,...,NaN,NaN,NaN,11.51,1.7,NaN,NaN,NaN,NaN,NaN
3,30024LI,True,NaN,NIC,BANCO DE LA PRODUCCION,NaN,Equity Investment Instruments,WVB Short Business Summary The Bank is a priva...,NaN,NaN,...,NaN,NaN,NaN,11.51,1.7,NaN,NaN,NaN,NaN,NaN
4,30015LI,True,NaN,NIC,BOLSA DE VALORES DE NICARAGUA,NaN,Investment Services,WVB Short Business Summary The main activities...,NaN,NaN,...,-1.25,NaN,NaN,-1.02,-0.86,-1.25,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83786,30217AN,True,XRO,NZL,Xero Limited,NZXROE0001S2,Software,"S&P Business SummaryXero Limited, together wit...",57.97,109.366108,...,-4.89,NaN,NaN,-10.88,-4.7,-4.89,8.882947,15.190566,2.125748,1.420563
83787,40023AN,True,IKE,NZL,ikeGPS Group Ltd,NZIKEE0001S9,Electronic Equipment,"S&P Business SummaryikeGPS Group Limited, toge...",N/M,NaN,...,-35.73,-0.54,3.96,-21.57,-17.24,-35.73,NaN,NaN,NaN,NaN
83788,30207AN,True,NaN,NZL,smartFONZ,NZFNZE0001S4,Equity Investment Instruments,S&P Business SummarySmartshares NZ Top 50 ETF ...,NaN,NaN,...,N/M-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83789,30208AN,True,NaN,NZL,smartMIDZ,NZMDZE0001S1,Banks,S&P Business SummarySmartshares NZ Mid Cap ETF...,NaN,NaN,...,2.62,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83790,30204AN,True,NaN,NZL,smartTENZ,NZTNZE0001S5,Equity Investment Instruments,S&P Business SummaryNZX 10 Fund is an exchange...,NaN,NaN,...,N/M-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
ev_ebitda = big_data [ 'EV/EBITDA - Last' ]
ev_ebit = big_data ['EV/EBIT - Last']
ev_sales = big_data ['EV/Sales - Last']
price_earning = big_data ['P/E - Last']
price_book = big_data ['P/Book Value - Last']

In [25]:
data_sans_na_sans_out_ev = pd.merge ( data_sans_na_sans_out, ev_ebitda, right_index = True, left_index = True )
data_sans_na_sans_out_ev = pd.merge ( data_sans_na_sans_out_ev, ev_ebit, right_index = True, left_index = True )
data_sans_na_sans_out_ev = pd.merge ( data_sans_na_sans_out_ev, ev_sales, right_index = True, left_index = True )
data_sans_na_sans_out_ev = pd.merge ( data_sans_na_sans_out_ev, price_earning, right_index = True, left_index = True )
data_sans_na_sans_out_ev = pd.merge ( data_sans_na_sans_out_ev, price_book, right_index = True, left_index = True )
data_sans_na_sans_out_ev

,Efcode,isActive,Country,Company Name,Sector,Description,Net Debt / Equity (x) - Last,Net Sales - Last,ROA - Last,Sales To Assets (%) - Last,...,Sharehold. Equity - Last,EBITDA Marg. (%) - Last,EBIT Marg. (%) - Last,ROE (%) - Last,ROCE (%) - Last,EV/EBITDA - Last,EV/EBIT - Last,EV/Sales - Last,P/E - Last,P/Book Value - Last
22,30031KN,True,NGA,11,Integrated Oil & Gas,"S&P Business Summary11 plc, together with its ...",-0.09,576.994052,5.62,197.58,...,101.120098,6.29,4.07,14.77,17.25,NaN,NaN,NaN,NaN,NaN
23,30145KN,True,NGA,ABC Transport PLC,Travel & Tourism,S&P Business SummaryABC Transport Plc provides...,0.87,15.569810,-2.56,108.03,...,2.509889,11.33,5.56,-13.79,12.11,2.62,5.35,0.3,N/M,0.58
30,30268KN,True,NGA,Africa Prudential Plc,Investment Services,S&P Business SummaryAfrica Prudential Plc prov...,-0.10,3.263938,8.45,8.74,...,20.460582,-0.73,-3.66,16.45,-3.09,34.04,51.96,7.72,8.13,1.31
35,30067KN,True,NGA,Aluminium Extrusion Industries PLC,Aluminum,S&P Business SummaryAluminium Extrusion Indust...,0.03,5.748802,1.24,88.86,...,5.307299,4.26,3.59,1.49,3.35,NaN,NaN,NaN,NaN,NaN
36,30033KN,True,NGA,Ardova Plc,Integrated Oil & Gas,"S&P Business SummaryArdova Plc, an integrated ...",5.75,524.974293,-5.96,179.15,...,20.217501,0.61,-1.03,-59.90,-3.57,54.07,N/M,0.33,N/M,2.41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83676,30029AN,True,NZL,Millennium & Copthorne Hotels New Zealand Limited,Hotels,S&P Business SummaryMillennium & Copthorne Hot...,-0.10,91.536890,3.12,20.33,...,407.986595,35.10,29.99,3.45,8.81,5.52,6.46,1.94,10.55,0.36
83681,40127AN,True,NZL,NZ Automotive Investments Ltd.,Specialty Retailers,S&P Business SummaryNZ Automotive Investments ...,0.53,44.526214,7.20,170.81,...,10.120072,8.35,3.16,8.26,14.39,3.83,5.59,0.34,5.27,0.9
83687,30146AN,True,NZL,Neuren Pharmaceuticals Limited,Biotechnology,S&P Business SummaryNeuren Pharmaceuticals Lim...,-0.94,0.000000,-23.98,0.00,...,26.400697,-9.77,-9.84,0.46,604.22,N/M,N/M,N/M,N/M,44.03
83690,30021AN,True,NZL,New Zealand Oil & Gas Limited,Exploration & Production,S&P Business SummaryNew Zealand Oil & Gas Limi...,-0.40,52.309191,8.06,29.68,...,101.366456,47.35,30.69,12.89,12.61,NaN,NaN,NaN,NaN,NaN
83697,90986AN,True,NZL,PGG Wrightson Limited,Farming & Fishing,S&P Business SummaryPGG Wrightson Limited prov...,0.19,594.646759,5.04,186.82,...,107.784172,6.95,3.87,14.03,17.18,5.4,9.69,0.38,13.36,1.88

In [26]:
colonne1 = 'EV/EBITDA - Last'
colonne2 = 'EV/EBIT - Last'
colonne3 = 'EV/Sales - Last'
colonne4 = 'P/E - Last'
colonne5 = 'P/Book Value - Last'
print ('Nombre de valeurs non nulles dans la colonne ',  colonne1,  ', est =', data_sans_na_sans_out_ev_ebitda.shape[0] - data_sans_na_sans_out_ev [ colonne1 ].isna().sum())
print ('Nombre de valeurs non nulles dans la colonne ',  colonne2,  ', est =', data_sans_na_sans_out_ev_ebitda.shape[0] - data_sans_na_sans_out_ev [ colonne2 ].isna().sum())
print ('Nombre de valeurs non nulles dans la colonne ',  colonne3,  ', est =', data_sans_na_sans_out_ev_ebitda.shape[0] - data_sans_na_sans_out_ev [ colonne3 ].isna().sum())
print ('Nombre de valeurs non nulles dans la colonne ',  colonne4,  ', est =', data_sans_na_sans_out_ev_ebitda.shape[0] - data_sans_na_sans_out_ev [ colonne4 ].isna().sum())
print ('Nombre de valeurs non nulles dans la colonne ',  colonne5,  ', est =', data_sans_na_sans_out_ev_ebitda.shape[0] - data_sans_na_sans_out_ev [ colonne5 ].isna().sum())

Nombre de valeurs non nulles dans la colonne  EV/EBITDA - Last , est = 10510
Nombre de valeurs non nulles dans la colonne  EV/EBIT - Last , est = 10510
Nombre de valeurs non nulles dans la colonne  EV/Sales - Last , est = 10510
Nombre de valeurs non nulles dans la colonne  P/E - Last , est = 10487
Nombre de valeurs non nulles dans la colonne  P/Book Value - Last , est = 10510

In [31]:
data_sans_na_sans_out_ev['P/Book Value - Last'].value_counts()

N/M      222
0.76      65
0.63      60
0.5       59
0.46      58
        ...
12.5       1
74.59      1
25.91      1
67.21      1
44.03      1
Name: P/Book Value - Last, Length: 1246, dtype: int64